@import './components/header/sg-header.component.scss';
@import './components/home/sg-home.component.scss';

//
// Layout
//
.container {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

main {
   padding: 50px 0;
}

h1 {
}

p {
}

.page-head {
  &__text {
    font-size: 60px;
    margin-bottom: 0;
  }
  &__desc {
    margin-bottom: 80px;
  }
}
