<style>
.fixed-box {
    margin-bottom: 10px;
}

.fixed-blueBox {
  width: 20px;
  height: 20px;
  background: #627da0;
  position: fixed;
  left: 150px;
}

.fixed-greenBox {
  width: 100px;
  height: 100px;
  background: #5b8054;
}
</style>

<div class="fixed-box fixed-blueBox"></div>
<div class="fixed-box fixed-greenBox"></div>
