<style>
.absolute-box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.absolute-greenBox {
    background: #5b8054;
}

.absolute-blueBox {
    background: #627da0;
    position: absolute;
    left: 20px;
}

.absolute-container {
    background: #000000;
    height: 110px;
    width: 110px;
    position: absolute;
    left: 50px;
}
</style>

<div class="absolute-container">
    <div class="absolute-box absolute-blueBox"></div>
</div>
<div class="absolute-box absolute-greenBox"></div>
