<style>
.relative-box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
.relative-blueBox {
    background: #627da0;
    position: relative;
    top: 50px;
}
.relative-greenBox {
    background: #5b8054;
}
.relative-container {
    background: #000000;
}
</style>

<div class="relative-container">
    <div class="relative-box relative-blueBox"></div>
</div>
<div class="relative-box relative-greenBox"></div>
