<style>
.center-box {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-right: 10px;
}
.center-blueBox {
    background: #627da0;
    margin: 0 auto;
}
.center-greenBox {
    background: #5b8054;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.center-greenBox {
    background: #5b8054;
    position: absolute;
    top: 50%;
    margin-top: -10px;
}
.center-blackBox {
    background: #000000;
    margin: 0 auto;
}
.center-container{
  position: absolute;
  top: 50%;
  width: 100%;
}
.center-body {
  position: relative;
  background: #D3D3D3;
  height: 200px;
}
</style>
<div class="center-body">
  <div class="center-box center-blueBox"></div>
  <div class="center-box center-greenBox"></div>
  <div class="center-container">
    <div class="center-box center-blackBox"></div>
  </div>
</div>
