<section>
  <h1 class="page-head__text">Buttons</h1>
  <p class="page-head__desc">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis a mi feugiat congue.<br/>
    Suspendisse facilisis tellus ipsum. Etiam in facilisis nunc.
  </p>

  <h2>Default styles</h2>
  <div>
    <a href="#" class="btn">Anchor</a>
    <button class="btn">Button</button>
    <input type="submit" class="btn" value="Submit" />
  </div>

  <h2>Colors</h2>
  <pre>
      <code class="html">
        &lt;button class="btn btn-primary"&gt;Primary&lt;/button&gt;
        &lt;button class="btn btn-secondary"&gt;Secondary&lt;/button&gt;
      </code>
    </pre>
  <div>
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
  </div>
</section>
